.main {
    width: 100%;
}
.nav {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}
.nav a{
    text-decoration: none;
    padding: 14px;
    border: 1px solid;
    border-radius: 20px;
    margin: 20px;
}
.paw {
    font-size: 50px;
}
.display {
    background-image: url("australian-shepherd-g57157f472_1920.jpg");
    height: 100vh;
    
}
.motto {
    padding-top: 300px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
}
.about {
    
    margin-top: 80px;
}
span {
    color: #ba8a96;
}
.about h2 {
    font-size: 40px;
    text-align: center;
}
.facts{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.paragragh {
    text-align: center;
}